.membres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .membresImg{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
    }
    .membreDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    img{
        width: 100px;
        aspect-ratio: 1/1;
    }
}















